@import "variables";
@import "mixins";
@import "base/theme";
@import "base/typography";
@import "base/layout";
@import "partials/header";
@import "partials/navigation";
@import "partials/blog";
@import "partials/archive";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/PictureCube";
@import "partials/helpers";
@import "partials/prism";

@media only screen and (max-width: 768px) {
	#content > div {
		padding-top: $pad-medium / 2;
	}
}

.entry-content table {
	margin-bottom: 20px;
	border-collapse: collapse;
	th { font-weight: bold; text-decoration: underline; }
	td, th { padding: 5px; border: 2px solid black; }
	td.blue { color: blue; }
	td.red { color: red; }
}

i { font-style: italic; }

header.no_comments {
	padding-top: 0;
}


/*****************************************************/
/******************** Sidebar ************************/
/*****************************************************/

/* Ads */
aside.sidebar .ad-section h1 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	@media only screen and (max-width: 992px) {
		margin-top: 1.5em;
	}
}
.ad-container {
	border: 1px solid #E1E1E1;
	background: #F9F9F9;
	padding: 15px;
	min-height: 100px;

	a { text-decoration: none; }
}

body .one {
	.bsa_it_ad {
		font-family: inherit;
		padding: 0;
		border: none;

		:hover img {
			box-shadow: 0 0 3px #000;
		}
		.bsa_it_i {
			@media only screen and (max-width: 992px) {
				float: none;
				display: block;
				text-align: center;
				margin: 0 0 10px 0;
			}
		}
		.bsa_it_i img {
			border: none;
			border-radius: 0;
		}
		.bsa_it_d {
			text-align: center;
		}
	}
	.bsa_it_p {
		display: none;
	}
}

#book-section {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;

	strong {
		display: inline-block;
		font-weight: bold;
		font-size: 0.8em;
		padding-bottom: 1em;
	}
	img {
		height: 150px;
		width: 120px;
		border: none;
	}
	a { white-space: normal; }
	> div { padding: 0 0.5em; }
	.image-link { text-decoration: none; }
}
/* Sidebar link colors */
aside.sidebar:hover a:hover {
	color: $accent_color;
}


/*****************************************************/
/******************** About Page *********************/
/*****************************************************/

#home-me {
	float: right;
	margin: 10px;
	border: none;
}

.home-heading {
	a:not(:hover) {
		color: black;
		text-decoration: none;
	}
	& + ul {
		span {
			display: block;
			&::after {
				content: ":";
			}
		}
		li {
			margin-bottom: 0.3em;
		}
	}
}

header.home {
	margin-bottom: 1em;

	h2 {
		margin: 0.2em 0 0 0;
		padding: 0;
		clear: both;

		a {
			font-size: 0.65em;
			font-weight: normal;
		}
	}
}


/*****************************************************/
/********************* Speaking **********************/
/*****************************************************/

@mixin top-divider {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
}
.speaking {
	p { margin-bottom: 3em; }
	header { margin: 0; }

	article {
		padding: 1.5em 0;
		margin-left: 0;
		overflow: hidden;
		@include top-divider;
	}
	h2 {
		padding-top: 0;
		font-weight: normal;
		margin-bottom: 0.5em;
		background: none;
	}
	img {
		width: 150px;
		float: left;
		margin-right: 25px;
		margin-bottom: 20px;
		border: none;
	}
	ul {
		float: left;
		margin: 0;
		padding-left: 1em;
		span { display: block; }
		a { color: $link-color; }
	}
	li:not(:first-child) { margin-top: 0.4em; }
}

address {
	display: inline-block;
	padding-right: 20px;
	background-position: right center;
	background-repeat: no-repeat;
	font-style: normal;

	&.country-bulgaria { background-image: url(/images/flags/bg.png); }
	&.country-canada { background-image: url(/images/flags/ca.png); }
	&.country-us { background-image: url(/images/flags/us.png); }
}


/*****************************************************/
/*********************** Code ************************/
/*****************************************************/

p code, ul code, ol code {
	display: inline-block;
	font-size: 0.8em;
	background: white;
	line-height: 1.5em;
	color: #555;
	border: 1px solid #ddd;
	border-radius: 0.4em;
	padding: 0 .3em;
	margin: -1px 0;
}

h3 code { font-size: 0.9em; }

// Tweaks to Prism
pre[class*="language-"] {
	position: static;
	font-size: 0.9em;
	margin-bottom: 1.6em;
	border: 1px solid #E7DEC3;
	border-radius: 0.4em;
	box-shadow: rgba(0,0,0,0.06) 0 0 10px;

	pre[class*=language-]>code[data-language]::before {
		content: "";
	}
}
.token.lf::before {
	content: "";
}


/*****************************************************/
/************************ Posts **********************/
/*****************************************************/

.author_card {
	padding: 1em;
	border: 1px solid $custom_header_color;
	border-radius: 5px;

	img {
		border: none;
		float: left;
		width: 100px;
		margin-right: 1em;
	}
}
img.plain {
	box-shadow: none;
	border: none;
}
