---
layout: default
---
<div class="blog-index">
	{% assign index = true %}
	{% for post in paginator.posts %}
		<article>
			{% include article.html %}
		</article>
	{% endfor %}
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="prev">&larr; Previous</a>
		{% endif %}
		<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }} <a href="/blog/archives">(View all)</a></span>
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">Next &rarr;</a>
		{% endif %}
	</div>
</div>
