<div class="header">
  <div>
    <a href="/"><img src="/images/me/headshot.jpg" alt="Me!" /></a>
    <h1><a href="/">TJ VanToll</a></h1>
  </div>

  <nav role="navigation">
    <ul>
      <li>
        <a href="{{ root_url }}/writing/">Writing</a>
      </li>
      <li>
        <a href="{{ root_url }}/speaking/">Speaking</a>
      </li>
      <li>
        <a href="https://github.com/tjvantoll">
          <img
            class="svg-image"
            src="/images/icons/github.svg"
            height="26"
            width="26"
            alt="GitHub"
          />
        </a>
      </li>
      <li>
        <a href="https://x.com/tjvantoll">
          <img
            class="svg-image"
            src="/images/icons/twitter-x.svg"
            height="28"
            width="28"
            alt="Twitter"
          />
        </a>
      </li>
    </ul>
  </nav>
</div>
