<div class="sidebar">
  <div>
    <a href="/"
      ><img class="headshot" src="/images/me/headshot-big.jpg" alt="Me!"
    /></a>
    <h2><a href="/">TJ VanToll</a></h2>
  </div>

  <nav role="navigation">
    <ul>
      <li>
        <a href="{{ root_url }}/writing/">
          <span class="hide-small">✏️</span>
          <span>Writing</span>
        </a>
      </li>
      <li>
        <a href="{{ root_url }}/speaking/">
          <span class="hide-small">🎤</span>
          <span>Speaking</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/tjvantoll">
          <span>
            <img
              class="svg-image"
              src="/images/icons/github.svg"
              height="26"
              width="26"
              alt="GitHub"
            />
          </span>
          <span class="hide-small">GitHub</span>
        </a>
      </li>
      <li>
        <a href="https://x.com/tjvantoll">
          <span>
            <img
              class="svg-image"
              src="/images/icons/twitter-x.svg"
              height="28"
              width="28"
              alt="Twitter"
            />
          </span>
          <span class="hide-small">X</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
