<aside class="sidebar">
	<div class="main-info">
		<a href="/"><img src="/images/me/headshot.jpg" alt="Me!"></a>
		<div>
			<h1><a href="/">TJ VanToll</a></h1>
			<a href="https://twitter.com/tjvantoll">@tjvantoll</a>
		</div>
	</div>
	<section class="me-section">
		<ul class="emoji-list">
			<li class="emoji-computer">Front-end developer</li>
			<li class="emoji-pencil">Tech author</li>
			<li class="emoji-mic">Developer advocate for <a href="http://www.telerik.com/">Telerik</a></li>
			<li class="emoji-heart">Web & <a href="https://www.nativescript.org/">NativeScript</a></li>
		</ul>

		<nav role="navigation">
			<ul>
				<li><a href="{{ root_url }}/writing/">Writing</a></li>
				<li><a href="{{ root_url }}/speaking/">Speaking</a></li>
				<li><a href="https://github.com/tjvantoll">Coding</a></li>
			</ul>
		</nav>
	</section>
	<section class="ad-section">
		<div class="ad-container"></div>
	</section>
</aside>
