.PictureCube-container {
	width: 100px;
	height: 100px;
	position: relative;
	
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}

.PictureCube-container .cube {
	width: 100%;
	height: 100%;
	position: absolute;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	-ms-transition: -ms-transform 1s;
	transition: transform 1s;
}

.PictureCube-container .cube figure {
	display: block;
	position: absolute;
	margin: 0;
	width: 96px;
	height: 96px;
	border: 2px solid black;
	line-height: 96px;
	font-size: 50px;
	font-weight: bold;
	color: white;
}

.PictureCube-container .cube img {
	height: 96px;
	width: 96px;
}

.PictureCube-container .cube.panels-backface-invisible figure {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.PictureCube-container .cube .front {
	-webkit-transform: translateZ( 50px );
	-moz-transform: translateZ( 50px );
	-o-transform: translateZ( 50px );
	-ms-transform: translateZ( 50px );
	transform: translateZ( 50px );
}

.PictureCube-container .cube .back {
	-webkit-transform: rotateX( -180deg ) translateZ( 50px );
	-moz-transform: rotateX( -180deg ) translateZ( 50px );
	-o-transform: rotateX( -180deg ) translateZ( 50px );
	-ms-transform: rotateX( -180deg ) translateZ( 50px );
	transform: rotateX( -180deg ) translateZ( 50px );
}

.PictureCube-container .cube .right {
	-webkit-transform: rotateY( 90deg ) translateZ( 50px );
	-moz-transform: rotateY( 90deg ) translateZ( 50px );
	-o-transform: rotateY( 90deg ) translateZ( 50px );
	-ms-transform: rotateY( 90deg ) translateZ( 50px );
	transform: rotateY( 90deg ) translateZ( 50px );
}

.PictureCube-container .cube .left {
	-webkit-transform: rotateY( -90deg ) translateZ( 50px );
	-moz-transform: rotateY( -90deg ) translateZ( 50px );
	-o-transform: rotateY( -90deg ) translateZ( 50px );
	-ms-transform: rotateY( -90deg ) translateZ( 50px );
	transform: rotateY( -90deg ) translateZ( 50px );
}

.PictureCube-container .cube .top {
	-webkit-transform: rotateX( 90deg ) translateZ( 50px );
	-moz-transform: rotateX( 90deg ) translateZ( 50px );
	-o-transform: rotateX( 90deg ) translateZ( 50px );
	-ms-transform: rotateX( 90deg ) translateZ( 50px );
	transform: rotateX( 90deg ) translateZ( 50px );
}

.PictureCube-container .cube .bottom {
	-webkit-transform: rotateX( -90deg ) translateZ( 50px );
	-moz-transform: rotateX( -90deg ) translateZ( 50px );
	-o-transform: rotateX( -90deg ) translateZ( 50px );
	-ms-transform: rotateX( -90deg ) translateZ( 50px );
	transform: rotateX( -90deg ) translateZ( 50px );
}

.PictureCube-container .cube.show-front {
	-webkit-transform: translateZ( -50px );
	-moz-transform: translateZ( -50px );
	-o-transform: translateZ( -50px );
	-ms-transform: translateZ( -50px );
	transform: translateZ( -50px );
}

.PictureCube-container .cube.show-back {
	-webkit-transform: translateZ( -50px ) rotateX( -180deg );
	-moz-transform: translateZ( -50px ) rotateX( -180deg );
	-o-transform: translateZ( -50px ) rotateX( -180deg );
	-ms-transform: translateZ( -50px ) rotateX( -180deg );
	transform: translateZ( -50px ) rotateX( -180deg );
}

.PictureCube-container .cube.show-right {
	-webkit-transform: translateZ( -50px ) rotateY( -90deg );
	-moz-transform: translateZ( -50px ) rotateY( -90deg );
	-o-transform: translateZ( -50px ) rotateY( -90deg );
	-ms-transform: translateZ( -50px ) rotateY( -90deg );
	transform: translateZ( -50px ) rotateY( -90deg );
}

.PictureCube-container .cube.show-left {
	-webkit-transform: translateZ( -50px ) rotateY( 90deg );
	-moz-transform: translateZ( -50px ) rotateY( 90deg );
	-o-transform: translateZ( -50px ) rotateY( 90deg );
	-ms-transform: translateZ( -50px ) rotateY( 90deg );
	transform: translateZ( -50px ) rotateY( 90deg );
}

.PictureCube-container .cube.show-top {
	-webkit-transform: translateZ( -50px ) rotateX( -90deg );
	-moz-transform: translateZ( -50px ) rotateX( -90deg );
	-o-transform: translateZ( -50px ) rotateX( -90deg );
	-ms-transform: translateZ( -50px ) rotateX( -90deg );
	transform: translateZ( -50px ) rotateX( -90deg );
}

.PictureCube-container .cube.show-bottom {
	-webkit-transform: translateZ( -50px ) rotateX( 90deg );
	-moz-transform: translateZ( -50px ) rotateX( 90deg );
	-o-transform: translateZ( -50px ) rotateX( 90deg );
	-ms-transform: translateZ( -50px ) rotateX( 90deg );
	transform: translateZ( -50px ) rotateX( 90deg );
}

@keyframes demo_cube_1 {
	from { transform: rotateX( 0deg ); }
	to { transform: rotateX( 180deg ); }
}
@keyframes demo_cube_2 {
	from { transform: rotateY( 0deg ); }
	to { transform: rotateY( 90deg ); }
}
@keyframes demo_cube_3 {
	from { transform: translateZ( -50px ); }
	to { transform: translateZ( 50px ); }
}

.demo-container {
	height: 100px;
	width: 100px;
	perspective: 600px;
	position: relative;
	margin: 20px;
}
.demo-cube {
	height: 100px;
	width: 100px;
	display: block;
	position: absolute;
	border: 0;
	border-radius: 0;
}
#demo-cube-1 {
	animation: demo_cube_1 5s infinite alternate;
}
#demo-cube-2 {
	animation: demo_cube_2 5s infinite alternate;
}
#demo-cube-3 {
	animation: demo_cube_3 5s infinite alternate;
}

#playground {
	#playground-cube { 
		margin: 30px; 
		
		img { border: 0; border-radius: 0; }
	}
			
	.form-row { 
		margin: 10px 0; 
		
		input { margin: 0 5px; }
		button { margin: 0 5px; }
	}
}