#archive {
	#content > div { &, > article { padding-top: 0; } }
}
.blog-archives {
	article {
		padding: 1em 0 1em;
		position: relative;
		background: $img-border bottom left repeat-x;
		&:last-child {
			background: none;
		}
		footer { padding: 0; margin: 0;}
	}
	h2 { display: none; }
	h1 {
		color: $text-color;
		font-size: 1.5em;
		margin-bottom: .3em;
		a {
			text-decoration: none;
			&:hover, &:focus {
				text-decoration: underline;
			}
			color: inherit;
			&:hover { color: $link-color-hover; }
			font-weight: normal;
			display: inline-block;
		}
	}
	ul { color: $text-color; }
	time {
		@extend .sans;
		color: $text-color-light;
	}
	color: $text-color-light;
	.entry-content { display: none; }
	time {
		font-size: .9em;
		line-height: 1.2em;
		.month, .day { display: inline-block; }
		.month { text-transform: uppercase; }
	}
	p { margin-bottom: 1em; }
	a:hover { color: $link-color-hover; }
	@media (min-width: $breakpoint-phone) {
		article { margin-left: 5em; }
		h2 {
			margin-bottom: .3em;
			font-weight: normal;
			display: inline-block;
			position: relative; top: -1px;
			float: left;
			&:first-child { padding-top: .75em; }
		}
		time {
			position: absolute;
			text-align: right;
			left: 0em;
			top: 1.8em;
		}
		.year { display: none; }
		article {
			padding: { left: 4.5em; bottom: .7em; }
		}
	}
}

.blog-archives.speaking {
	article {
		padding-left: 0em;
		color: $text-color;
		ul {
			overflow: hidden;
			padding-left: 1.5em;
			margin: 0.5em 0 1em 0;
		}
		li:not(:first-child) { margin-top: 0.4em; }
		li.type {
			&::before {
				@extend .emoji;
				font-size: 1.3em;
				line-height: 1.3;
				vertical-align: middle;
				padding-right: 0.3em;
			}
			&.podcast, &.interview { list-style-type: none; }
			&.podcast::before { content: "\2728"; }
			&.interview::before { content: "\1F3A9"; }
			&.conference::before { content: "\1F37A"; }
			&.workshop::before { content: "\1F680"; }
		}
		span { display: block; }
		a {
			white-space: normal;
			&:hover {
				color: $link-color-hover;
			}
		}
	}
}

hr.dotted {
	background: $img-border bottom left repeat-x;
	border: none;
	height: 2px;
}

.cover {
	height: 120px;
	float: right;
}

address {
	display: inline-block;
	background-position: right center;
	background-repeat: no-repeat;
	font-style: normal;
}
