#archive {
	#content > div { &, > article { padding-top: 0; } }
}
#blog-archives {
	article {
		padding: 1em 0 1em;
		position: relative;
		background: $img-border bottom left repeat-x;
		&:last-child {
			background: none;
		}
		footer { padding: 0; margin: 0;}
	}
	h1 { color: $text-color; margin-bottom: .3em; }
	h2 { display: none; }
	h1 {
		font-size: 1.5em;
		a {
			text-decoration: none;
			&:hover, &:focus {
				text-decoration: underline;
			}
			color: inherit;
			&:hover { color: $link-color-hover; }
			font-weight: normal;
			display: inline-block;
		}
	}
	time {
		@extend .sans;
		color: $text-color-light;
	}
	color: $text-color-light;
	.entry-content { display: none; }
	time {
		font-size: .9em;
		line-height: 1.2em;
		.month, .day { display: inline-block; }
		.month { text-transform: uppercase; }
	}
	p { margin-bottom: 1em; }
	&, .entry-content {
		a {
			color: inherit;
			&:hover { color: $link-color-hover; }
		}
	}
	a:hover { color: $link-color-hover; }
	@media (min-width: $breakpoint-phone) {
		article { margin-left: 5em; }
		h2 {
			margin-bottom: .3em;
			font-weight: normal;
			display: inline-block;
			position: relative; top: -1px;
			float: left;
			&:first-child { padding-top: .75em; }
		}
		time {
			position: absolute;
			text-align: right;
			left: 0em;
			top: 1.8em;
		}
		.year { display: none; }
		article {
			padding:{left: 4.5em; bottom: .7em;}
		}
	}
}

#blog-archives.speaking {
	article {
		padding-left: 0em;
		color: $text-color;
		ul {
			overflow: hidden;
			padding-left: 1.5em;
			margin: 0.5em 0 1em 0;
		}
		li:not(:first-child) { margin-top: 0.4em; }
		span { display: block; }
		a {
			white-space: normal;
			&:hover {
				color: $link-color-hover;
			}
		}
	}
}

address {
	display: inline-block;
	padding-right: 20px;
	background-position: right center;
	background-repeat: no-repeat;
	font-style: normal;

	&.country-bulgaria { background-image: url(/images/flags/bg.png); }
	&.country-canada { background-image: url(/images/flags/ca.png); }
	&.country-us { background-image: url(/images/flags/us.png); }
}