/* Breakpoints */
$breakpoint-tablet: 850px;
$breakpoint-phone: 550px;

/* Images */
$main-border-background-image: linear-gradient(
  to right,
  #bababa 33%,
  rgba(255, 255, 255, 0) 0%
);
$main-border-background-size: 4px 1px;

/* Link colors */
$link-color: lighten(#165b94, 3) !default;
$link-color-hover: adjust-color(
  $link-color,
  $lightness: 10%,
  $saturation: 25%
) !default;
$link-color-visited: adjust-color(
  $link-color,
  $hue: 80,
  $lightness: -4%
) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15%) !default;

/* Backgrounds */
$main-bg: #f8f8f8 !default;

/* Text */
$text-color: #222 !default;
$text-color-light: #666666 !default;

/* Fonts */
$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
