/* Breakpoints */
$breakpoint-tablet: 850px;
$breakpoint-phone: 550px;

/* Images */
$img-border: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC);

/* Link colors */
$link-color: lighten(#165b94, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

/* Spacing */
$gutter-size: 1.5em;

/* Backgrounds */
$main-bg: #f8f8f8 !default;

/* Text */
$text-color: #222 !default;
$text-color-light: #aaa !default;

/* Fonts */
$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;

@import "prism";
@import "helpers";

@import "typography";
@import "layout";
@import "blog";
@import "archive";

@import "pages/about";
