* { box-sizing: border-box; }

html {
	background: $noise-bg top left;
}
body {
	margin: 0;
}
#main {
	display: -webkit-flex;
	display: flex;
	max-width: 1200px;
	margin: 1em auto;
}
aside.sidebar {
	border: 1px solid #dadde3;
	-webkit-flex: 0 0 300px;
	flex: 0 0 300px;
	margin-left: 1em;
}
#main > div {
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-color: #dadde3;
	background: white;
	margin-right: 1em;
	// wtf Firefox? http://stackoverflow.com/questions/27472595/firefox-34-ignoring-max-width-for-flexbox
	min-width: 1px;
}
#main > div > article {
	padding: 15px 35px 0 35px;
}
#main > div > section {
	padding: 0 35px 1em 35px;
}