<script>
	$.domReady(function() {
		if (Modernizr.csstransforms3d) {
			new PictureCube('picture-cube', [
				'/images/me/1.jpg',
				'/images/me/2.jpg',
				'/images/kids/2.jpg',
				'/images/kids/3.jpg',
				'/images/izzie/5.jpg',
				'/images/me/3.jpg'											
			]).cycle(10000);
		}			
	});  
</script>

<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
