<hgroup>
	<div id="picture-cube"></div>
	<h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
	{% if site.subtitle %}
		<!--<h2>{{ site.subtitle }}</h2>-->
		<h2>
			<span>
				<span class="a1">A</span>
				<span class="a2">d</span>
				<span class="a1">v</span>
				<span class="a2">e</span>
				<span class="a1">n</span>
				<span class="a2">t</span>
				<span class="a1">u</span>
				<span class="a2">r</span>
				<span class="a1">e</span>
				<span class="a2">s</span>
			</span>
			&nbsp;
			<span>
				<span class="b">i</span>
				<span class="b">n</span>
			</span>
			&nbsp; 
			<span>
				<span class="c1">F</span>
				<span class="c2">r</span>
				<span class="c3">o</span>
				<span class="c4">n</span>
				<span class="c5">t</span>
			</span>
			&nbsp;
			<span>
				<span class="d">E</span>
				<span class="d">n</span>
				<span class="d">d</span>
			</span>
			&nbsp;
			<span>
				<span class="e">T</span>
				<span class="e">e</span>
				<span class="e">c</span>
				<span class="e">h</span>
				<span class="e">n</span>
				<span class="e">o</span>
				<span class="e">l</span>
				<span class="e">o</span>
				<span class="e">g</span>
				<span class="e">i</span>
				<span class="e">e</span>
				<span class="e">s</span>
			</span>
		</h2>    
	{% endif %}
</hgroup>
