body > footer {
  @extend .sans;
  font-size: 0.9em;
  color: $subtitle-color;
  background-color: rgba(23,133,172,0.74);
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  z-index: 1;
  a {
    color: $subtitle-color;
    &:visited { color: $subtitle-color; }
  }
  p:last-child { margin-bottom: 0; }
}
