body > header {
	background: $header-bg;
	h1 {
		display: inline-block;
		margin: 0;
		letter-spacing: 5px;
		font-weight: bold;
		text-shadow: 1px 1px 1px $custom_header_color;
		a, a:visited, a:hover {
			color: $custom_header_color;
			text-decoration: none;
		}
	}
	h2 {
		margin: .2em 0 0;
		@extend .sans;
		font-size: 1em;
		color: $subtitle-color;
		font-weight: normal;
	}
}
