body > nav {
  position: relative;
  background-color: $nav-bg;
  @include background($nav-bg-front, $nav-bg-back);
  border: {
    top: 1px solid $nav-border-top;
    bottom: 1px solid $nav-border-bottom; }
  padding-top: .35em;
  padding-bottom: .35em;

  font-size: .9em;
  ul {
    @include horizontal-list(0);
    float: left;
    display: block;
    padding-top: .15em;
  }
  ul.subscription {
    margin-left: .8em;
    float: right;
    li:last-child a { padding-right: 0; }
  }
  ul li {
    margin: 0;
  }
  a {
    @include link-colors($nav-color, $nav-color-hover, $visited: $nav-color);
    @extend .sans;
    text-shadow: lighten($nav-bg, 12) 0 1px;
    float: left;
    text-decoration: none;
    font-size: 1.1em;
    padding: .1em 0;
    line-height: 1.5em;
  }
  li + li {
    border-left: 1px solid $nav-border-left;
    margin-left: .8em;
    a {
      padding-left: .8em;
      border-left: 1px solid $nav-border-right;
    }
  }

  @media only screen and (max-width: 550px) {
    .rss-item { display: none; }
    a {
      font-size: 1em;
      padding: 0.1em 0.3em;
    }
  }
}

