aside.sidebar {
	@extend .sans;
	background: #f3f5f8;
	border: 1px solid #dadde3;
	flex: 0 0 300px;
	section {
		padding: 1em;
	}
}

.main-info {
	display: flex;
	padding: 1em;
	div {
		flex: 0 0 170px;
		text-align: center;
	}
	img {
		height: 80px;
		width: 80px;
		border-radius: 20px;
	}
	h1 {
		margin: 0.4em 0 0 0em;
		font-size: 1.5em;
	}
	a {
		color: inherit;
		&:visited { color: inherit; }
		&:active { color: inherit; }
		&:hover {
			color: $link-color-hover;
			text-decoration: underline;
		}
		text-decoration: none;
		line-height: 1;
	}
}

@media only screen and (max-width: 992px) {
	aside.sidebar {
		flex: 0 0 250px;
	}
	.main-info div {
		flex: 0 0 140px;
	}
}

aside.sidebar .me {
	font-size: 0.9em;
	padding-top: 0;
	p {
		padding: 1em 0;
		font-size: 0.9em;
		border-style: solid;
		border-width: 1px 0;
		border-color: #dadde3;
	}
}

nav {
	margin: 0;
	border-bottom: 1px solid #dadde3;
	ul {
		display: flex;
		justify-content: center;
		margin: 1em 0;
	}
	li {
		list-style: none;
		border-right: 1px solid $text-color;
		&:last-child {
			border: none;
		}
	}
	a {
		padding: 0 0.5em;
	}
}

/* Ads */
.ad-container {
	min-height: 100px;
	a { text-decoration: none; }
}

body .one {
	.bsa_it_ad {
		font-family: inherit;
		padding: 0;
		border: none;
		background: none;
	}
	.bsa_it_p {
		position: absolute;
		bottom: -10px;
		left: 30px;
	}
}

#book-section {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;

	strong {
		display: inline-block;
		font-weight: bold;
		font-size: 0.8em;
		padding-bottom: 1em;
	}
	img {
		height: 150px;
		width: 120px;
		border: none;
	}
	a { white-space: normal; }
	> div { padding: 0 0.5em; }
	.image-link { text-decoration: none; }
}

