{% comment %} Load script if Disqus comments are enabled and `page.comments` is either empty (index) or set to true {% endcomment %}
{% if page.comments != false %}
	<script>
		var disqus_shortname = '{{ site.disqus_short_name }}';
		var disqus_identifier = '{{ site.url }}{{ page.url }}';
		var disqus_url = '{{ site.url }}{{ page.url }}';

		(function () {
			function loadScript(fileName) {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'https://' + disqus_shortname + '.disqus.com/' + fileName;
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			}

			{% if page.comments == true %}
				loadScript("embed.js");
			{% endif %}
			loadScript("count.js");
		}());
	</script>
{% endif %}
