.spaced {
	margin-top: 0.25em;
	li {
		margin-bottom: 0.5em;
		ul {
			margin: 0.25em 0 0.25em 2em;
		}
	}
}
.strike {
	text-decoration: line-through;
	position: relative;
	&::after {
		content: '';
		border-bottom: 5px solid red;
		width: 100%;
		position: absolute;
		right: 0;
		top: 50%;
	}
}

.no_casing { text-transform: none !important; }

pre {
	max-height: 450px;
	overflow: auto;
}
pre.inline {
	display: inline-block;
	padding: 0.2em;
	margin: 0;
	text-align: center;
}
pre.constrained {
	font-size: 0.8em;
	margin-top: 0;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

section .output {
	background: #F5F2F0;
	padding: 1em;
}
.output:not(.no_reset) {
	label, output { color: black; }
	output {
		display: inline-block;
		width: 70px;
	}
	input, button {
		font-size: 1em;
	}
}
.no_reset {
	label, output { color: black; }
	input { color: black; }
}
.output.success {
	color: white;
	background: green;
}
.output.success h6 {
	margin: 0;
	letter-spacing: 0.1em;
}
.output .ui-widget-content {
	border: 1px solid #AAA;
}
.output .ui-spinner {
	padding: 0;
	vertical-align: middle;
}
.output .ui-spinner-button {
	position: absolute;
}

.main_demo {
	.output {
		background: none;
		padding: 0;
		input, button { font-size: 0.5em; }
		.ui-spinner { line-height: 25px; }
		.ui-progressbar { height: 25px; }
		.ui-slider {
			font-size: 0.5em;
			top: 15px;
		}
		.box {
			min-height: 90px;
			min-width: 420px;
			padding: 0.2em;
			background: white;
			float: left;
			margin: 0.2em;
			input[type=number], input[type=text] { max-width: 150px; }
			.left {
				float: left;
			}
			.right {
				float: left;
				width: 200px;
				margin-left: 20px;
				vertical-align: center;
			}
			h6 {
				display: block;
				text-align: center;
				color: black;
				font-size: 0.6em;
				text-transform: none;
				font-family: Verdana;
				margin: 0 0 0.3em 0;
			}
		}
	}
}

#title-container {
	position: relative;
	height: 250px;
}
#title-container h4 {
	font-size: 2.5em;
}
#title-container .left {
	position: absolute;
	top: 30px;
	left: 0;
}
#title-container .middle {
	position: absolute;
	left: 520px;
	top: 125px;
	font-size: 1.5em;
}
#title-container .middle h4 {
	color: #b94a48;
	font-size: 2em;
}
#title-container .right {
	position: absolute;
	top: 0;
	right: 100px;
}
#title-container img, img.reset {
	border: 0 !important;
	background: none !important;
	box-shadow: none !important;
	margin-bottom: 35px;
}
#html5-logo {
	margin-top: 0;
	height: 120px;
}

.me-left, .me-right {
	float: left;
	position: relative;
	width: 49%;
	height: 300px;
	img {
		height: 50px;
		display: block;
		margin-top: 0 !important;
	}
}
.me-left img {
	position: absolute;
	top: 30px;
	right: 20px;
	height: 150px;
}
.me-left p {
	position: absolute;
	bottom: 65px;
	right: 25px;
	font-size: 0.8em;
}
.me-right ul {
	position: absolute;
	left: 20px;
	font-size: 0.8em;
}

@-webkit-keyframes flip {
	0% { -webkit-transform: rotatey(0deg); }
	10% { -webkit-transform: rotatey(360deg); }
	90% { -webkit-transform: rotatey(360deg); }
	100% { -webkit-transform: rotatey(0deg); }
}
@keyframes flip {
	0% { transform: rotatey(0deg); }
	10% { transform: rotatey(360deg); }
	90% { transform: rotatey(360deg); }
	100% { transform: rotatey(0deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotateX(0deg); }
	to { -webkit-transform: rotateX(360deg); }
}
@keyframes spin {
	from { transform: rotateX(0deg); }
	to { transform: rotateX(360deg); }
}
@-webkit-keyframes skew-1 {
	from { -webkit-transform: skew(0deg); }
	to { -webkit-transform: skew(35deg); }
}
@-webkit-keyframes skew-2 {
	from { -webkit-transform: skew(0deg); }
	to { -webkit-transform: skew(-20deg); }
}
@-webkit-keyframes skew-3 {
	from { -webkit-transform: skew(0deg); }
	to { -webkit-transform: skew(40deg); }
}
@keyframes skew-1 {
	from { transform: skew(0deg); }
	to { transform: skew(35deg); }
}
@keyframes skew-2 {
	from { transform: skew(0deg); }
	to { transform: skew(-20deg); }
}
@keyframes skew-3 {
	from { transform: skew(0deg); }
	to { transform: skew(40deg); }
}
@-webkit-keyframes grow {
	from { -webkit-transform: scale(1); }
	to { -webkit-transform: scale(2); }
}
@keyframes grow {
	from { transform: scale(1); }
	to { transform: scale(2); }
}

.present {
	#title-container img {
		-webkit-animation: spin 30s infinite;
		-webkit-animation-delay: 30s;
		animation: spin 30s infinite;
		animation-delay: 30s;
	}
	.me-left {
		img {
			-webkit-animation: flip 30s infinite;
			-webkit-animation-delay: 10s;
			animation: flip 30s infinite;
			animation-delay: 10s;
		}
	}
	.me-right {
		li {
			-webkit-animation-delay: 40s;
			animation-delay: 40s;
		}
		li:nth-child(1) {
			-webkit-animation: skew-1 20s infinite alternate linear;
			animation: skew-1 20s infinite alternate linear;
		}
		li:nth-child(2) {
			-webkit-animation: skew-2 20s infinite alternate linear;
			animation: skew-2 20s infinite alternate linear;
		}
		li:nth-child(3) {
			-webkit-animation: skew-3 20s infinite alternate linear;
			animation: skew-3 20s infinite alternate linear;
		}
	}
	.middle h4 {
		-webkit-animation: grow 60s infinite alternate linear;
		animation: grow 60s infinite alternate linear;
	}
}

#ui-inline {
	font-size: 25px;
	.ui-datepicker-calendar a {
		color: #555;
		padding: 0;
		text-align: center;
	}
	th, td {
		text-align: center;
		padding: 0.1em;
	}
}

.theme_slide {
	position: relative;

	label {
		position: absolute;
		top: 0;
		right: 40px;
		font-size: 0.6em;
	}
}
.switcher {
	position: absolute;
	right: 5px;
	top: 40px;
	font-size: 0.6em;
}

.present.end {
	h1 {
		-webkit-animation: spin 8s infinite;
		-webkit-animation-delay: 3s;
		animation: spin 8s infinite;
		animation-delay: 3s;
	}
}


@-webkit-keyframes skew-fun {
	from { -webkit-transform: skew(0deg); }
	to { -webkit-transform: skew(10deg); }
}
@keyframes skew-fun {
	from { transform: skew(0deg); }
	to { transform: skew(10deg); }
}
@-webkit-keyframes scale-fun {
	from { -webkit-transform: scale(0.5); }
	to { -webkit-transform: scale(2); }
}
@keyframes scale-fun {
	from { transform: scale(0.5); }
	to { transform: scale(2); }
}

.present #inline-datepicker {
	.ui-datepicker-inline {
		background: hotpink;
		margin: 0 auto;
		-webkit-animation: skew-fun 3s alternate infinite;
		animation: skew-fun 3s alternate infinite;

		.ui-datepicker-title {
			-webkit-animation: scale-fun 1s alternate infinite;
			animation: scale-fun 1s alternate infinite;
		}
		.ui-datepicker-current-day {
			-webkit-transform: scale(2);
			transform: scale(2);
			z-index: 3000;
		}
		thead {
			span {
				-webkit-animation: spin 1s infinite;
				animation: spin 1s infinite;
				display: inline-block;
			}
		}
		a {
			-webkit-animation: flip 5s infinite;
			animation: flip 5s infinite;
			color: green;
			text-align: center;
			background: skyblue;
		}
	}
}

@-webkit-keyframes spin-slider {
	0% {
		background: blue;
		-webkit-transform: rotate(0deg);
	}
	25% {
		background: purple;
		-webkit-transform: rotate(90deg);
	}
	50% {
		background: red;
		-webkit-transform: rotate(180deg);
	}
	75% {
		background: green;
		-webkit-transform: rotate(270deg);
	}
	100% {
		background: blue;
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin-slider {
	0% {
		background: blue;
		transform: rotate(0deg);
	}
	25% {
		background: purple;
		transform: rotate(90deg);
	}
	50% {
		background: red;
		transform: rotate(180deg);
	}
	75% {
		background: green;
		transform: rotate(270deg);
	}
	100% {
		background: blue;
		transform: rotate(360deg);
	}
}
.present #crazy-slider {
	margin: 50px;
	width: 300px;
	height: 50px;
	-webkit-animation: spin-slider 2.5s infinite linear;
	animation: spin-slider 2.5s infinite linear;
}
#crazy-slider .ui-slider-handle {
	height: 70px;
	background: black;
}
#crazy-control {
	margin: 20px 50px 100px 50px;
}


@-webkit-keyframes bounce-input {
	0% { top: -10px; }
	50% { top: 0; }
	100% { top: 10px; }
}
@-webkit-keyframes skew-input {
	0% { -webkit-transform: skewX(0deg); }
	50% { -webkit-transform: skewX(20deg) rotateY(50deg); }
	100% { -webkit-transform: skewX(-20deg) rotateZ(15deg); }
}
@keyframes bounce-input {
	0% { top: -10px; }
	50% { top: 0; }
	100% { top: 10px; }
}
@keyframes skew-input {
	0% { transform: skewX(0deg); }
	50% { transform: skewX(20deg) rotateY(50deg); }
	100% { transform: skewX(-20deg) rotateZ(15deg); }
}
.present #crazy-spinner-container {
	margin: 50px;
	-webkit-animation: bounce-input 1s infinite alternate linear, skew-input 3s alternate infinite linear;
	animation: bounce-input 1s infinite alternate linear, skew-input 3s alternate infinite linear;
	position: absolute;
	left: 65px;
}
#crazy-spinner-container input {
	margin: 10px;
	font-size: 30px;
}
#spinner-demo {
	position: relative;
	height: 250px;
	label {
		font-size: 0.7em;
		right: 20px;
		position: absolute;
	}
	#dance-height-widget {
		right: 100px;
		top: 80px;
		position: absolute;
		overflow: visible;
		input { width: 100px; }
	}
}

