.warning {
	border: 2px solid yellow;
	padding: 20px 20px 20px 80px;
	margin-bottom: 10px;
	background-color: #FEEFB3;
	color: #9F6000;
	background: url(/images/icons/warning.png) no-repeat #FEEFB3;
	background-position: 20px 45%;
	background-size: 50px;
	display: none;
}

.striped_bg {
	background: #058AA3;
	background: rgba(30, 171, 221, 0.74);
	background: rgba(30, 171, 221, 0.74) -webkit-repeating-linear-gradient(60deg, transparent, transparent 42px, rgba(190, 190, 190, 0.1) 30px, rgba(190, 190, 190, 0.1) 45px);
	background: rgba(30, 171, 221, 0.74) repeating-linear-gradient(35deg, transparent, transparent 42px, rgba(190, 190, 190, 0.1) 30px, rgba(190, 190, 190, 0.1) 45px);
}

.code_example {
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 1.5em;
	overflow-x: auto;
	position: relative;

	h6 {
		@extend .striped_bg;

		position: relative;
		top: -1px;
		color: black;
		padding: 0.2em 1em 0.2em 0.5em;
		border-bottom: 1px solid black;
		margin-bottom: 0;
		font-size: 1em; 

		a {
			position: absolute;
			top: 0.2em;
			right: 0.5em;
			font-size: 0.8em;
			font-weight: normal;
			color: white;
		}
	}
	&::after {
		position: absolute;
		right: 1px;
		bottom: 1px;
		content: 'Demo';
		background: white;
		color: black;
		border-color: black;
		border-width: 1px 0 0 1px;
		border-style: dotted;
		font-size: 0.8em;
		padding: 0.2em 0.3em;
		border-radius: 5px 0 0 0;
	}
}
@media all and (max-width: 500px) {
	.code_example {
		h6 {
			overflow: hidden;
			a {
				position: static;
				float: left;
				width: 100%;
			}
		}
	}
}