.warning {
	border: 2px solid yellow;
	padding: 20px 20px 20px 80px;
	margin-bottom: 10px;
	background-color: #FEEFB3;
	color: #9F6000;
	background: url(/images/icons/warning.png) no-repeat #FEEFB3;
	background-position: 20px 45%;
	background-size: 50px;
	display: none;
}