<aside class="sidebar">
	<div class="main-info">
		<a href="/"><img src="/images/me/1.jpg" alt="TJ VanToll"></a>
		<div>
			<h1><a href="/">TJ VanToll</a></h1>
			<a href="https://twitter.com/tjvantoll">@tjvantoll</a></li>
		</div>
	</div>
	<section class="me-section">
		<p>Front-end developer, tech author, developer advocate @Telerik, jQuery team member, Cordova & NativeScript enthusiast.</p>

		<nav role="navigation">
			<ul>
				<li><a href="{{ root_url }}/">Blog</a></li>
				<li><a href="{{ root_url }}/blog/archives/">Archives</a></li>
				<li><a href="{{ root_url }}/speaking/">Speaking</a></li>
				<li><a href="{{ root_url }}/about">About</a></li>
			</ul>
		</nav>
	</section>
	<section class="ad-section">
		<div class="ad-container">
			<script defer async src="http://cdn.adpacks.com/adpacks.js?legacyid=1285803&zoneid=1386&key=cb7a6f705dfe7532dde49b4c2c5adf2d&serve=C6SI42Y&placement=tjvantollcom&circle=dev" id="_adpacks_js"></script>
		</div>
	</section>
</aside>