<!--
Oh, hi! Since you're here, you might want to know that the source code that builds this site is available at https://github.com/tjvantoll/tjvantoll.github.com. You can even send pull requests for the articles and stuff. Enjoy the raw source code, but before you dig in here's the obligatory narcissistic ASCII ART:

#######       # 
   #          # 
   #          # 
   #          # 
   #    #     # 
   #    #     # 
   #     #####  
-->

{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="author" content="TJ VanToll">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="author" href="https://plus.google.com/+TJVanToll">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="manifest" href="/manifest.json">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<style>
		{% capture include_to_scssify %}
			{% include style.scss %}
		{% endcapture %}
		{{ include_to_scssify | scssify }}
	</style>

	{% include prism.html %}
	<script>
		if ("serviceWorker" in navigator) {
			navigator.serviceWorker.register("/service-worker.js");
		}
	</script>
</head>
<body>
	<div id="main">
		{% include sidebar.html %}
		{{ content | expand_urls: root_url }}
	</div>
	{% include dynamic/ads.html %}
	{% include dynamic/google_analytics.html %}
	{% include dynamic/disqus.html %}
</body>
</html>
