// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "custom/partials/tipsy";
@import "custom/partials/PictureCube";
@import "custom/partials/helpers";

$accent_color: #CF481C;

body > header {
	background: #058AA3;
	background: rgba(30, 171, 221, 0.74);
	background: rgba(30, 171, 221, 0.74) -moz-repeating-linear-gradient(60deg, transparent, transparent 42px, rgba(190, 190, 190, 0.1) 30px, rgba(190, 190, 190, 0.1) 45px);
	background: rgba(30, 171, 221, 0.74) -ms-repeating-linear-gradient(60deg, transparent, transparent 42px, rgba(190, 190, 190, 0.1) 30px, rgba(190, 190, 190, 0.1) 45px);
	background: rgba(30, 171, 221, 0.74) -o-repeating-linear-gradient(60deg, transparent, transparent 42px, rgba(190, 190, 190, 0.1) 30px, rgba(190, 190, 190, 0.1) 45px);
	background: rgba(30, 171, 221, 0.74) -webkit-repeating-linear-gradient(60deg, transparent, transparent 42px, rgba(190, 190, 190, 0.1) 30px, rgba(190, 190, 190, 0.1) 45px);
	background: rgba(30, 171, 221, 0.74) repeating-linear-gradient(60deg, transparent, transparent 42px, rgba(190, 190, 190, 0.1) 30px, rgba(190, 190, 190, 0.1) 45px);

	h1 {
		font-weight: bold;
		text-shadow: 1px 1px 1px #333;

		a {
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			-webkit-transition: none;
			transition: none;
		}
		a:hover, a:visited {
			color: #333;
		}
	}

	#picture-cube {
		float: right;
		margin-right: 20px;
		
		@media only screen and (max-width: 550px) {
			display: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	#content > div {
		padding-top: $pad-medium / 2;
	}
}

aside.sidebar:hover a:hover {
	color: $accent_color;
}
aside.sidebar .jsdocs a {
	text-decoration: none;
	color: $sidebar-color;
	
	img { border: 0; border-radius: 0; margin-top: 10px; }
}

.entry-content table {
	margin-bottom: 20px;
	th { font-weight: bold; text-decoration: underline; }
	td, th { padding: 5px; border: 2px solid black; }
	td.blue { color: blue; }
	td.red { color: red; }
}

i { font-style: italic; }

header.no_comments {
	padding-top: 0;
}

body > footer {
	color: $subtitle-color;
	text-shadow: none;
}


/*****************************************************/
/******************** About Page *********************/
/*****************************************************/

#home_me {
	float: right;
	margin: 10px;
}

#home_contact_label {
	float: left;
}
#home_links {
	overflow: hidden;
	
	ul {
		margin: 0;
		padding: 0;
		float: left; 
		overflow: hidden;
	}
	li {
		float: left;
		list-style-type: none;
	}
	a {
		margin: 0 0.7em;
	}
}

#home_popular_posts {
	margin-bottom: 0;

	a { 
		display: block;
		margin-bottom: 1em;
	}
}

header.home {
	margin-bottom: 1em;

	h2 {
		margin: 0.2em 0 0 0;
		padding: 0;
		clear: both;

		a {
			font-size: 0.65em;
			font-weight: normal;
		}
	}
}

.project-contents {
	overflow: hidden;
	box-shadow: 1px 1px 1px 1px lighten(#333, 10%);
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 10px;
	-ms-transition: -webkit-transform 1s ease;
	-moz-transition: -webkit-transform 1s ease;
	-o-transition: -webkit-transform 1s ease;
	-webkit-transition: -webkit-transform 1s ease;
	transition: -webkit-transform 1s ease;
	min-height: 5em;

	a {
		font-size: 1.3em;
	}
	p {
		margin-top: 0.2em;
		margin-bottom: 0;
	}
	.wording {
		float: left;
		padding-left: 1em;
		width: 70%;
		width: -moz-calc(100% - 175px);
		width: -webkit-calc(100% - 175px);
		width: calc(100% - 175px);
	}

	.image {
		float: left;
		width: 125px;
		margin: 0 auto;

		img {
			border-radius: 0;
			border: none;
			box-shadow: none;
		}
	}

	&:hover {
		//-ms-transform: scale(1.05);
		//-moz-transform: scale(1.05);
		//-o-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
}
@media all and (max-width: 500px) {
	.project-contents .image {
		display: none;
	}
	.project-contents .wording {
		clear: left;
		width: 100%;
		padding: 0;
	}
	.project-contents:hover {
		-webkit-transform: none;
		transform: none;
	}
}

#browser-picture-cube {
	margin: 0 auto;
	img {
		background-color: white;
	}
}


/*****************************************************/
/*********************** Code ************************/
/*****************************************************/

figure.code figcaption.empty {
	border: none;
}
.empty + .highlight {
	border-radius: 5px;
}
.not_empty + .highlight {
	border-radius: 0 0 5px 5px;
}
.highlight {
	border: none !important;
	table {
		margin-bottom: 0;
	}
	.gutter, .code {
		border: 0;
		background-color: #333 !important;

		.line-numbers {
			background-color: #333 !important;
			text-shadow: none;			
		}
		code {
			background-color: #333 !important;
		}
	}
}
pre {
	background-color: #333;
}
