// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$accent_color: #CF481C;
$custom_header_color: #333;

@import "custom/partials/tipsy";
@import "custom/partials/PictureCube";
@import "custom/partials/helpers";

body > header {
	@extend .striped_bg;

	h1 {
		font-weight: bold;
		text-shadow: 1px 1px 1px $custom_header_color;

		a {
			-webkit-transition: none;
			transition: none;
		}
		a:hover, a:visited {
			color: $custom_header_color;
		}
	}

	#picture-cube {
		float: right;
		margin-right: 20px;
		
		@media only screen and (max-width: 550px) {
			display: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	#content > div {
		padding-top: $pad-medium / 2;
	}
}

.entry-content table {
	margin-bottom: 20px;
	th { font-weight: bold; text-decoration: underline; }
	td, th { padding: 5px; border: 2px solid black; }
	td.blue { color: blue; }
	td.red { color: red; }
}

i { font-style: italic; }

header.no_comments {
	padding-top: 0;
}

body > footer {
	color: $subtitle-color;
	text-shadow: none;
}


/*****************************************************/
/******************** Sidebar ************************/
/*****************************************************/

/* Ads */
aside.sidebar .ad_section h1 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	@media only screen and (max-width: 992px) {
		margin-top: 1.5em;
	}
}
.ad_container {
	border: 1px solid #E1E1E1;
	background: #F9F9F9;
	padding: 15px;
	position: relative;
	min-height: 125px;

	a { text-decoration: none; }
}
body .one .bsa_it_ad {
	font-family: inherit;
	line-height: 100%;
	text-align: right;
}
body .one .bsa_it_ad:hover img {
	box-shadow: 0 0 3px #000;
}
body .one .bsa_it_ad .bsa_it_i {
	display: block;
	float: left;
	margin: 0 15px 30px 0;
	@media only screen and (max-width: 992px) {
		float: none;
		margin: 0 auto 10px auto;
		text-align: center;
	}
}
body .one .bsa_it_ad .bsa_it_i img {
	border: none;
	border-radius: 0;
}
body .one .bsa_it_ad .bsa_it_t {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #212121;
	line-height: 125%;
	padding: 0 0 5px 0;
	text-align: center;
}
body .one .bsa_it_ad .bsa_it_d {
	display: block;
	font-size: 12px;
	color: #434343;
	line-height: 135%;
	text-align: center;
}
body .one .bsa_it_p {
	display: none;
}
body #bsap_aplink, body #bsap_aplink:hover {
	display: block;
	position: absolute;
	top: 120px;
	left: 53px;
	font-size: 10px;
	text-align: center;
	@media only screen and (max-width: 992px) {
		position: static;
		margin-top: 10px;
	}
}

/* Twitter Sidebar widget */
aside.sidebar .twitter-timeline {
	margin-top: 10px;
}
/* Sidebar link colors */
aside.sidebar:hover a:hover {
	color: $accent_color;
}


/*****************************************************/
/******************** About Page *********************/
/*****************************************************/

#home_me {
	float: right;
	margin: 10px;
}

#home_contact_label {
	float: left;
}
#home_links {
	overflow: hidden;
	
	ul {
		margin: 0;
		padding: 0;
		float: left; 
		overflow: hidden;
	}
	li {
		float: left;
		list-style-type: none;
	}
	a {
		margin: 0 0.7em;
	}
}

.post_list {
	margin-bottom: 0;
	span {
		display: inline-block;
		padding-right: 2px;
	}
	a:not(.external) {
		display: block;
		margin-bottom: 1em;
	}
}

header.home {
	margin-bottom: 1em;

	h2 {
		margin: 0.2em 0 0 0;
		padding: 0;
		clear: both;

		a {
			font-size: 0.65em;
			font-weight: normal;
		}
	}
}

.project-contents {
	overflow: hidden;
	border: 1px solid lighten($custom_header_color, 10%);
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 10px;
	min-height: 5em;

	a {
		font-size: 1.3em;
	}
	p {
		margin-top: 0.2em;
		margin-bottom: 0;
	}
	.wording {
		float: left;
		padding-left: 1em;
		width: 70%;
		width: -moz-calc(100% - 175px);
		width: -webkit-calc(100% - 175px);
		width: calc(100% - 175px);
	}

	.image {
		float: left;
		width: 125px;
		margin: 0 auto;

		img {
			border-radius: 0;
			border: none;
			box-shadow: none;
		}
	}
}
@media all and (max-width: 500px) {
	.project-contents .image {
		display: none;
	}
	.project-contents .wording {
		clear: left;
		width: 100%;
		padding: 0;
	}
	.project-contents:hover {
		-webkit-transform: none;
		transform: none;
	}
}

#browser-picture-cube {
	margin: 0 auto;
	img {
		background-color: white;
	}
}


/*****************************************************/
/********************* Speaking **********************/
/*****************************************************/

@mixin top-divider {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') top left repeat-x;
}
.speaking {
	p { margin-bottom: 3em; }
	header { margin: 0; }

	article {
		padding: 1.5em 0;
		margin-left: 0;
		overflow: hidden;
		@include top-divider;
	}
	h2 {
		padding-top: 0;
		font-weight: normal;
		margin-bottom: 0.5em;
		background: none;
	}
	img {
		width: 150px;
		float: left;
		margin-right: 25px;
		margin-bottom: 20px;
	}
	ul {
		float: left;
		margin: 0;
		padding-left: 1em;
		//color: $text-color-light;
		span {
			display: block;
			//color: $text-color;
		}
		a { color: $link-color; }
	}
	li:not(:first-child) { margin-top: 0.4em; }
}

address {
	display: inline-block;
	padding-right: 20px;
	background-position: right center;
	background-repeat: no-repeat;

	&.country-bulgaria { background-image: url(/images/flags/bg.png); }
	&.country-canada { background-image: url(/images/flags/ca.png); }
	&.country-us { background-image: url(/images/flags/us.png); }
}


/*****************************************************/
/*********************** Code ************************/
/*****************************************************/

h3 code { font-size: 0.9em; }
figure.code figcaption.empty {
	border: none;
}
.empty + .highlight {
	border-radius: 5px;
}
.not_empty + .highlight {
	border-radius: 0 0 5px 5px;
}
.highlight {
	border: none !important;
	table {
		margin-bottom: 0;
	}
	.gutter, .code {
		border: 0;
		background-color: $custom_header_color !important;

		.line-numbers {
			background-color: $custom_header_color !important;
			text-shadow: none;
		}
		code {
			background-color: $custom_header_color !important;
		}
	}
}
pre {
	background-color: $custom_header_color;
}

/*****************************************************/
/************************ Posts **********************/
/*****************************************************/

.author_card {
	padding: 1em;
	border: 1px solid $custom_header_color;
	border-radius: 5px;

	img {
		border: none;
		float: left;
		width: 100px;
		margin-right: 1em;
	}
}
