@keyframes demo_cube_1 {
	from { transform: rotateX( 0deg ); }
	to { transform: rotateX( 180deg ); }
}
@keyframes demo_cube_2 {
	from { transform: rotateY( 0deg ); }
	to { transform: rotateY( 90deg ); }
}
@keyframes demo_cube_3 {
	from { transform: translateZ( -50px ); }
	to { transform: translateZ( 50px ); }
}

.demo-container {
	height: 100px;
	width: 100px;
	perspective: 600px;
	position: relative;
	margin: 20px;
}
.demo-cube {
	height: 100px;
	width: 100px;
	display: block;
	position: absolute;
	border: 0;
	border-radius: 0;
}
#demo-cube-1 {
	animation: demo_cube_1 5s infinite alternate;
}
#demo-cube-2 {
	animation: demo_cube_2 5s infinite alternate;
}
#demo-cube-3 {
	animation: demo_cube_3 5s infinite alternate;
}

#playground {
	#playground-cube { 
		margin: 30px; 
		
		img { border: 0; border-radius: 0; }
	}
			
	.form-row { 
		margin: 10px 0; 
		
		input { margin: 0 5px; }
		button { margin: 0 5px; }
	}
}